<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
		</head>
	<body>

		<h1>Noticia</h1>
		
		<table>
			<tr><td>Id</td>
				<td>Título</td>
				<td>Notícia</td>
				<td>Data</td>

			</tr>
			<tr>
				<td><%= noticia[0].id_noticia%></td>
				<td><%= noticia[0].titulo%></td>
				<td><%= noticia[0].noticia%></td>
				<td><%= noticia[0].data_criacao%></td>
			</tr>

		</table>

	</body>
</html>